@model IEnumerable<ConnectLead.Models.Consulta.RootObject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
@using (Html.BeginForm())
{
        <label>Consultar Repositórios</label>
        <input type="text" id="parametro" name="parametro"/>
        <button type="submit">Pesquisar</button>
}
</div>

<table class="table">
    <tr>
        <th></th>
    </tr>
</table>
@if (Model != null)
{
    int i = 0;
    foreach (var item in Model)
    {
    <h4>
        <label>@Html.ActionLink(@item.items[i].name, "DetalhesRepositorio", "Repositorios", new { nomeProprietario = item.items[i].owner.login, nomeRepositorio = item.items[i].name }, null)</label>
    </h4>
        i++;
    }
}

